<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="/softres/calendar" method="GET" class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="charName" placeholder="Find your character">
                            <input type="submit" value="Filter" class="btn btn-primary">
                        </div>
                    </div>
                </form>

                <table class="table table-hover table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Toon</th>
                            <th>Class</th>
                            <th>Raid Date</th>
                            <th>Discord Link</th>
                            <th>Soft Reserved Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each reserves}}
                        <tr>
                            <td>{{charName}}</td>
                            <td>{{class}}</td>
                            <td>{{raidDateFormatted}}</td>
                            <td>{{discordInvite}}</td>
                            <td>
                                {{#each softResItems}}
                                <a href="{{itemLink}}">
                                    <img src="https://wow.zamimg.com/images/wow/icons/small/{{itemInfo.icon}}.jpg"
                                        alt="{{itemInfo.icon}}">
                                    <span class="q{{itemInfo.quality}}">
                                        {{itemInfo.name}}
                                    </span>
                                </a>
                                {{/each}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>